
header{
    background-color: #3E3E3E;
   height: 20px;
   padding: 25px;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   font-family:sans-serif;
    


   
}
body{
   margin: 0;
   padding: 0;
   background-color: #EAEAEA;
}
header button{
  
   background-color: #3E3E3E;
   padding-bottom: 20px;
   padding-top: 0;
   letter-spacing: 0.9px;
   margin:0 8px 0 8px ;  
   text-transform: uppercase;
   border:0;
   font-size: 9px;
   font-weight: normal;
   color: #AABBAD;
   
 
}

/* #tv{
   color: white;
   background-color: white;
   margin: auto;
   padding: 5px 8px;
} */
.navigation{
   background-color: #3E3E3E;
   display: flex;
   justify-content:center;
   margin: 8px, 5px;
   font-weight: 600;
}

nav button{
   color: #FBFFF4;
   border: 0;
   background-color: #3E3E3E;
   padding: 3px 6px;
   margin: 0, 10px;
   letter-spacing: 2px;
   text-transform: uppercase;
   
}

.navigation:hover{
   text-decoration:solid;
   text-decoration-style: dashed;
}

nav #images{
   width: 30px;
   height: 30px;
    display: flex;
   justify-content: space-evenly; 
   
} 
/* div{
    display: flex;
    justify-content: center;
    margin: 50px ;

} */

.advertisement{
   
   display: flex;
   justify-content: center;
   margin: 50px;
   height: 250px;

     
}
p{
   display: flex;
   justify-content: center;
   padding: 5px;
   margin-top: 235px;
   font-size: 10px;
   
}



.story{
  
   margin: 50px;
   display: flex;
   
}
.first{
   border: 2px solid #FFFFFF;

}
.first img{
   display: flex;
   width: 350px;
   height: 300px;
}


.top{
   border: 2px solid #FFFFFF;
   
   display: flex;
   flex-direction: column;
   margin: 50px;




}

.top img{
   margin: 8px;
   width: 100px;
   height: 100px;
}






